        <h1>
            <a name="welcome-to-github-pages" class="anchor" ><span class="octicon octicon-link"></span></a>About Me
        </h1>
    
          <div class="shadow_box">
            <div class="content_box">
            <div class="about_content_box"></div>

            <section id="photo-hello">
             <div id="my-photo"><img src="images/personal_photo.JPG" id="rounded"></div>
              <div id="hello">Hello <br> world</div>
            </section>
              
              <div class="about-me-text">
               <p> I’m a full stack software developer and recent graduate from <a href="http://devbootcamp.com/" >Dev Bootcamp </a>, an intensive 9-week web developer apprenticeship.  &nbsp&nbsp I started coding because I want to build beautiful, meaningful products and help organizations solve big challenges through technology.</p>

              <p> Currently I’m deeply interested in helping open government data initiatives nurture digital products and bring data to life, which makes me excited to learn languages and libraries like <a href="http://www.r-project.org/"> R </a> and <a href="http://d3js.org/">d3js </a>. &nbsp&nbsp Lately I've also been spending time with <a href="http://www.meetup.com/Women-Who-Code-SF/"> Women Who Code </a> and <a href="http://nerdsfornature.org/"> Nerds for Nature </a>. &nbsp&nbsp Otherwise I'm usually cooking, seeing stand-up comedy or learning how to surf. </p>

              <p> If you'd like to cross-pollinate on ideas, projects, or just get in touch, I'm an open book. &nbsp&nbsp Feel free to send me an <a href="mailto:elaine.lee.yu@gmail.com">email</a>. </p>

                  <a class="about-bottom-links" id="show2"> <i class="fa fa-caret-square-o-down"></i>  RESUME </a> 
                  <a class= "about-bottom-links" id="padding-left-icon" href="https://github.com/ElaineYu"><i class="fa fa-github"></i> GitHub</a>
                  <a class="about-bottom-links" id="padding-left-icon" href="mailto:elaine.lee.yu@gmail.com"><i class="fa fa-envelope-o"> EMAIL</i> </a>
                  
              
              <!-- Hidden resume -->
              <div class="resume" style="display: none">
                <div class="resume-block">
                  <div class="resume-subsection">
                    <a id="resume-name-heading" href="https://www.linkedin.com/pub/elaine-yu/7/971/184">Elaine Yu</a>
                     <div id="resume-current-job-title">Teaching Assistant at Dev Bootcamp</div>
                    San Francisco Bay Area
                  </div>
                </div>

                <p class="resume-heading"> EXPERIENCE </p>

                <div class="resume-block">
                <div class="resume-subsection">
                  SEPT 2013 - DEC 2013 <br>
                  <div class="resume-job-title">Student</div>
                  <div class="resume-organization">Dev Bootcamp</div>
                </div>
                
                <div class="resume-subsection">
                  SEPT 2012 – FEB 2013<br>
                  <div class="resume-job-title">Sustainable Communities Associate </div>
                  <div class="resume-organization">Strategic Energy Innovations</div>
                </div>
                
                <div class="resume-subsection">
                  FEB 2012 – AUG 2012 <br>
                  <div class="resume-job-title">Research Intern, Water Infrastructure and Energy Efficiency </div>
                  <div class="resume-organization">Green for All</div>
                </div>

                <div class="resume-subsection">
                  JUNE 2010 – JUNE 2012<br>
                  <div class="resume-job-title">Research Associate, Biofuels</div>
                  <div class="resume-organization">Yale University</div>

                </div>
                
                <div class="resume-subsection">
                  SEPT 2009 – DEC 2009<br>
                  <div class="resume-job-title">Graduate Consultant, Biofuels </div>
                  <div class="resume-organization">General Electric</div>

                </div>

                <div class="resume-subsection">
                  JUNE 2009 – AUG 2009<br>
                  <div class="resume-job-title"> Microfinance Field Researcher</div>
                  <div class="resume-organization">Innovations for Poverty Action </div>
                </div>

                <div class="resume-subsection">
                  FEB 2008 – SEPT 2008<br>
                  <div class="resume-job-title">Regional Assistant for North America </div>
                  <div class="resume-organization"> United Nations Environment Programme, Convention on Migratory Species</div>
                </div>

                <div class="resume-subsection">
                  SEPT 2006 – JUNE 2007 <br>
                  <div class="resume-job-title"> College English Instructor </div>
                  <div class="resume-organization">Northeast Agricultural University | Heilongjiang Institute of Science and Technology</div>
                </div>
              </div>

              <div class="resume-block">
                <p class="resume-heading">EDUCATION</p>
                  <div class="resume-subsection">
                    2009 - 2011 <br>
                    <div class="resume-job-title">
                      Yale School of Forestry and Environmental Studies
                    </div>
                    Master of Environmental Management, Policy & Energy Systems<br>
                  </div>

                  <div class="resume-subsection">
                    2001 - 2006 <br>
                    <div class="resume-job-title">University of California, Santa Cruz</div>
                    B.A. in Environmental Studies, Economics, with Honors<br>
                  </div>
                  
                  <div class="resume-subsection">
                     SEPT 2013 - DEC 2013 <br>
                    <a href="http://devbootcamp.com/">
                      <div class="resume-job-title">Dev Bootcamp</div></a>
                      9-week intensive web development apprenticeship
                  </div>
              </div>

                <p class="resume-heading">TECHNOLOGIES &nbsp & &nbsp SKILLS</p>

                <div class="resume-block">
                  <strong> Web Development </strong>
                  <p>
                    <ul id="skills">
                     <li> Web application development using <strong>Ruby </strong> in <strong> Rails </strong> and <strong>Sinatra</strong> frameworks
                     </li>
                     <li> Managing databases with <strong>SQL (PostgreSQL, SQLite) </strong> and <strong> ActiveRecord </strong> 
                     </li>
                      <li>Test Driven Development with <strong> RSpec, Capybara, FactoryGirl, </strong> and <strong> Jasmine </strong>
                      </li>
                     <li>Front-end design with <strong> CSS3 </strong> and functionality with <strong> Javascript (JQuery, Ajax) </strong></li>
                      <li> <strong> Agile development </strong> (pair programming, iterations, user stories, daily standups) </li>
                      <li> This website was made with <strong>Jekyll </strong> and <strong>Github pages</strong>
                      </li>
                  </ul>
                  </p>

                  <strong> Data Analysis and Research </strong>
                  <ul id="skills">
                     <li> Map creation and geospatial analysis with <strong> Geographic Information Systems (GIS) </strong></li>
                     <li> Statistical analysis with <strong>R</strong></li>
                  </ul>
              </div>

           </div>
            
           </div>
         </div>