<h1>
          <a name="welcome-to-github-pages" class="anchor" ><span class="octicon octicon-link"></span></a>About Me
        </h1>
    
          <div class="shadow_box">
            <div class="content_box">
            <div class="about_content_box"></div>
             <div class="my-photo"><img src="images/personal_photo.JPG" class="circular"></div>

              <!-- <div class="speech-bubble"> <img class="speech-box" src="images/speech_box.png"></div> -->
              <label class="hello">Hello <br> world</label>
              
              <div class="about-me-text">
               <p> I’m a full stack software developer and recent graduate from DevBootcamp, an intensive 9-week web developer apprenticeship. </p>

              <p> I decided to learn how to code because I want to build beautiful, meaningful products and help organizations solve big challenges through technology. &nbsp&nbsp I’m also deeply interested in helping open government data initiatives nurture digital products and bring data to life, which makes me excited to learn languages and libraries like R and d3.js.</p>


              <p> When I'm not coding, I’m usually dabbling in soulful home cooking, geeking out on science, seeing standup-comedy, or learning how to surf.</p>

              <p> If you'd like to get in touch, I'm an open book.  Feel free to send me an <a href="mailto:elaine.lee.yu@gmail.com">email</a>. </p>
              <div class="skills-list">
                <strong> Skills </strong>
                <p>
                  <ul id="skills">
                   <li> Web application development in <strong>Ruby on Rails </strong> and <strong>Sinatra</strong> frameworks </li>
                    <li>Managing databases with <strong>SQL (PostgreSQL, SQLite) </strong> and <strong> ActiveRecord </strong> </li>
                    <li>Test Driven Development with <strong> RSpec, Capybara, FactoryGirl, </strong> and <strong> Jasmine </strong> </li>
                    <li>Front-end design with <strong> CSS3 </strong> and functionality with <strong> Javascript (JQuery, Ajax) </strong></li>
                    <li> <strong> Agile development </strong> (pair programming, iterations, user stories, daily standups) </li>
                </ul>
                </p>
            </div>

           </div>
            
           </div>
         </div>