        <h1>
          <a name="welcome-to-github-pages" class="anchor" ><span class="octicon octicon-link"></span></a> Dev Bootcamp Projects
        </h1>
    
    <div class="shadow_box">
      <div class="content_box">
            <div class="black_header_background">
              <h2 class="project_box_title"> 
                <a class="project-title" href="http://braintrade.herokuapp.com/">BrainTrade</a>&nbsp&nbsp
                <a href="https://github.com/meara/brain_trade">
                  <i class="fa fa-github"></i></a>
                  <a id="show"><i class="fa fa-bolt"></i>About</a>
              </h2>
            </div>

            <!-- Hidden "about project" text -->
            <div id="about_braintrade_project_box" style="display: none">
              <div class="arrow-up"> <p id="hide">hide</p></div>
        
              <h2><i class="fa fa-cogs">&nbsp About BrainTrade</i></h2>
              <p> BrainTrade is a peer learning network that allows users to trade expertise for free. Users can earn credits teaching others and then use their credits to learn something new from someone else.</p>

              <h2><i class="fa fa-users">&nbsp Team and Group Process</i></h2>
              <p> BrainTrade was created in 8 days as a final project at <a href="http://devbootcamp.com/">Dev Bootcamp</a> with my incredible teammates <a href="https://github.com/meara">Meara Charnetzki</a>, <a href="https://github.com/conman246">Connor McCrone</a>, and <a href="https://github.com/obf73">Oliver Francescatti</a>.  Our team employed <a href="https://gist.github.com/amgando/f2b8aade174a272096a6">agile development practices</a> (pair programming, iterations, user stories, daily standups) and GitHub workflow processes.  We also used <a href="https://trello.com/">Trello</a> boards to track team progress and <a href="https://www.hipchat.com/">HipChat</a> to share ideas, code, and files.</p>

              <h2><i class="fa fa-wrench">&nbsp Technologies</i></h2>
              <p> This web application was developed using <a href="http://rubyonrails.org/"> Ruby on Rails </a> and tested with <a href="http://rspec.info/">RSpec</a>, <a href="https://github.com/jnicklas/capybara">Capybara</a> and <a href="https://github.com/thoughtbot/factory_girl">FactoryGirl</a>.   Front-end was designed with CSS3, <a href="http://getbootstrap.com/">Bootstrap</a> and Javascript (<a href="http://jquery.com/">JQuery</a>, Ajax) and our database was managed with <a href="http://www.postgresql.org/">PostgreSQL</a>. </p>  
          </div>

          <!-- BrainTrade image with link -->
            <a href="http://braintrade.herokuapp.com/">
              <img class="project_image" src="images/braintrade_screenshot.png">
            </a><br>
        </div>
    </div>
    
    <div class="shadow_box">
      <div class="content_box">
        <div class="black_header_background">
          <h2 class="project_box_title"> 
            <a href="http://bootietracker.herokuapp.com/">BootieTracker&nbsp</a>
            <a href="https://github.com/cpkenn09y/Booty-Tracker">
            <i class="fa fa-github"></i></a>
                  <a id="show1"><i class="fa fa-bolt"></i>About</a>
              </h2>
            </div>

            <!-- Hidden "about project" text -->
            <div id="about_bootietracker_project_box" style="display: none">
              <div class="arrow-up"> <p id="hide1">hide</p></div>
        
              <h2><i class="fa fa-cogs">&nbsp About BootieTracker</i></h2>
              <p> BootieTracker is an informational map of <a href="http://devbootcamp.com/">Dev Bootcamp</a> students and alumni to allow the "Boot" community easily see who's within their vicinity.</p>

              <h2><i class="fa fa-users">&nbsp Team </i></h2>
              <p> BootieTracker was created in 24 hours as a part of a Dev Bootcamp holiday hackathon with <a href="https://github.com/cpkenn09y">Kenneth Yu </a>, <a href="https://github.com/stephenitis">Stephen Nguyen</a>, and <a href="https://github.com/Steveo1485">Stephen Nugent</a>. We won the Golden Boot Hackathon award for best use of APIs.</p>

              <h2><i class="fa fa-wrench">&nbsp Technologies</i></h2>
              <p>Socrates API, Socrates OAuth, Github API, LinkedIn API, Geocoder, Google Maps API V3, Ruby on Rails, PostgreSQL. </p>  
          </div>       
       
          <a href="http://bootietracker.herokuapp.com/">
            <img class="project_image" src="images/bootie_tracker.png"><br>
          </a>
      </div>
    </div>