<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Elaineyu.github.io by ElaineYu</title>

    <link type="text/css" rel="stylesheet" href="/stylesheets/3D_rotating_pyramid.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/blog_archive.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/homepage_navigation_bar.css">
    <link type="text/css" rel="stylesheet" href="/stylesheets/devbootcamp_projects.css">
    <link rel="stylesheet" href="/stylesheets/about_me.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/posts.css">

    <link rel="stylesheet" href="/stylesheets/pygment_trac.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Codystar|Monoton' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Chango' rel='stylesheet' type='text/css'>


     <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
     <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/about_box.js"></script>
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
