          <!-- Icons -->
          <div class="icon_links">
              <a href="https://github.com/ElaineYu"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/CuttlefishCloak"><i class="fa fa-twitter"></i></a>&nbsp  
              <a href="https://www.linkedin.com/pub/elaine-yu/7/971/184"><i class="fa fa-linkedin"></i></a>&nbsp  
              <a href="mailto:elaine.lee.yu@gmail.com"><i class="fa fa-envelope-o"></i></a>&nbsp
           </div>
          <!-- Icons End -->