 <!-- Rotating Pyramid -->
        <div class="box">
         <div class="viewport">   
             <div class="pyramid-outer">
                <div class="pyramid">
                  <!-- <image class="bird" src="http://etc-mysitemyway.s3.amazonaws.	com/icons/legacy-previews/icons/glossy-black-icons-animals/012558-glossy-black-icon-animals-animal-bird2.png" ></image>
                  <image class="bigger_bird" src="http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/glossy-black-icons-animals/012558-glossy-black-icon-animals-animal-bird2.png" ></image>
                  <image class="bigger_bird2" src="http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/glossy-black-icons-animals/012558-glossy-black-icon-animals-animal-bird2.png" ></image> -->
                    <i class="fa fa-star"></i>

                    <div class="pyramid-inner">
                    <!-- <image class="bigger_bird2" src="http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/glossy-black-icons-animals/012558-glossy-black-icon-animals-animal-bird2.png" ></image> 		<br> -->	
                    <i class="fa fa-rocket"></i>

                
 					        <div class="pyramid-base"></div>
 					        <!-- <image class="bigger_bird3" src="http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/glossy-black-icons-animals/012558-glossy-black-icon-animals-animal-bird2.png" ></image> -->
                    <div class="pyramid-face"></div>
           

                    <div class="pyramid-face"></div>

                    <div class="pyramid-face"></div>

                    <div class="pyramid-face"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Rotating Pyramid END -->