/* http://cssdeck.com/labs/pure-css-3d-primitives*/

.fa.fa-star {
	font-size: 100%;
	color:#FFFF99;
	position: absolute;
	left: 65px;
	top: 40px;
}

.fa.fa-rocket {
	font-size: 280%;
	color: white;
	position: absolute;
	left: 30px;
	top: 20px;
}

.pyramid, .pyramid-outer, .pyramid-inner {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/* VIEWPORT */

.viewport {
	width: 200px;
	height: 200px;
	/* Used*/
	background-image: url(http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA13316_ip.jpg);
	background-size: 90%;
  	border-radius: 200px;
  	margin-top: 15px;

	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
	
	-webkit-perspective-origin: 50% 150%;
	-moz-perspective-origin: 50% 150%;
	-o-perspective-origin: 50% 150%;
	-ms-perspective-origin: 50% 150%;
	perspective-origin: 50% 150%;
}

/* PYRAMID */
.pyramid {
	width: 100px;
	height: 100px;
}

.pyramid-outer {
	-webkit-transform: translate3d(50px, 77px, 0);
}

/* FACES */
.pyramid-base, .pyramid-face {
	position: absolute;
}

.pyramid-base {
	width: 100px;
	height: 100px;
/*	background-color: #3366FF;
*/	/*opacity: 0.7;*/
    /*background-image: url(http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA13128_ip.jpg);*/
/*   background-image: url( http://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17563_ip.jpg); */
	
	/* Red stars sparkley pyramid base */
	background-image: url(http://openwalls.com/image/21862/red_space_1_1920x1270.jpg);	
	
	-webkit-transform: rotateX(90deg) translate3d(0, 0, -23px);
	-moz-transform: rotateX(90deg) translate3d(0, 0, -23px);
	-o-transform: rotateX(90deg) translate3d(0, 0, -23px);
	-ms-transform: rotateX(90deg) translate3d(0, 0, -23px);
	transform: rotateX(90deg) translate3d(0, 0, -23px);
}

.pyramid-face {
	width:0;
	height:0;
	opacity: 0.7;
	background-image: url(http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/glossy-black-icons-animals/012558-glossy-black-icon-animals-animal-bird2.png);
	border-left:50px solid transparent;
	border-right:50px solid transparent;

	-webkit-transform-origin: 50% 87%;
	-moz-transform-origin: 50% 87%;
	-o-transform-origin: 50% 87%;
	-ms-transform-origin: 50% 87%;
	transform-origin: 50% 87%;
}

.pyramid-face:nth-child(2) {
	border-bottom:100px solid #6699CC; /* green? */
	background-image: url(http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/glossy-black-icons-animals/012558-glossy-black-icon-animals-animal-bird2.png);

	-webkit-transform: rotateX(30deg) translate3d(0, 0, 50px);
	-moz-transform: rotateX(30deg) translate3d(0, 0, 50px);
	-o-transform: rotateX(30deg) translate3d(0, 0, 50px);
	-ms-transform: rotateX(30deg) translate3d(0, 0, 50px);
	transform: rotateX(30deg) translate3d(0, 0, 50px);
}

.pyramid-face:nth-child(3) {
	border-bottom:100px solid tomato; /* #ccaf5a  */
	/*opacity: 0.5;*/
  	background-image: url(http://etc-mysitemyway.s3.amazonaws.com/icons/legacy-previews/icons/glossy-black-icons-animals/012558-glossy-black-icon-animals-animal-bird2.png);

	-webkit-transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -50px);
	-moz-transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -50px);
	-o-transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -50px);
	-ms-transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -50px);
	transform: rotateY(90deg) rotateX(-30deg) translate3d(0, 0, -50px);
}

.pyramid-face:nth-child(4) {
	border-bottom:100px solid #4ccfc8;

	-webkit-transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, 50px);
	-moz-transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, 50px);
	-o-transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, 50px);
	-ms-transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, 50px);
	transform: rotateY(90deg) rotateX(30deg) translate3d(0, 0, 50px);
}

.pyramid-face:nth-child(5) {
	border-bottom:100px solid #FFCC00;

	-webkit-transform: rotateX(-30deg) translate3d(0, 0, -50px);
	-moz-transform: rotateX(-30deg) translate3d(0, 0, -50px);
	-o-transform: rotateX(-30deg) translate3d(0, 0, -50px);
	-ms-transform: rotateX(-30deg) translate3d(0, 0, -50px);
	transform: rotateX(-30deg) translate3d(0, 0, -50px);
}


.pyramid {
	-webkit-animation: cube 8s linear ;
	-moz-animation: cube 8s linear infinite;
	-ms-animation: cube 8s linear infinite;
	-o-animation: cube 8s linear infinite;
	animation: cube 8s linear infinite;
}

/* Rotation*/
@-webkit-keyframes cube {
	0% {}
	100% {-webkit-transform: rotateY(360deg);	}
}

@-moz-keyframes cube {
	0% {}
	100% {-moz-transform: rotateY(360deg);	}
}

@-o-keyframes cube {
	0% {}
	100% {-o-transform: rotateY(360deg);	}
}

@-ms-keyframes cube {
	0% {}
	100% {-ms-transform: rotateY(360deg);	}
}

@keyframes cube {
	0% {}
	100% {transform: rotateY(360deg);	}
}