
#my-photo {
	float: right;
	margin-right: -170px;
	padding-top: 20px;
}


#rounded {
  width: 52%;
  height: 70%;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
   box-shadow: 0 0 16px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 16px rgba(0, 0, 0, .8);
 }


#hello {
	padding-top: 100px;
	float: left;
	color: black;
	margin-left: 30px;
	font-size: 340%;
	font-family: "Monoton";
	background-color: white;
}

.about-me-text {
	margin-top: 10px;
	background-color: white;
    padding: 20px 10px 20px 10px;

}

#skills {
	color: black;
}

.resume {
	padding: 30px 10px 10px 10px;
}

.resume-heading {
	color: black;
	padding-bottom: 15px;
	border-bottom: solid #F0F0F0 ;
	border-width: 1px;
}

.resume-subsection {
	color: black;
	padding-bottom: 20px;
}

#resume-current-job-title {
	font-size: 18px;
}

#resume-name-heading {
	color: #990000;
	font-size: 120%;
}

.resume-job-title {
	font-size: 18px;
}

.resume-organization {
	color: #990000;
	font-size: 110%;
}

.resume-block {
	padding-bottom: 20px;
}

.about-bottom-links {
	font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif; 
	color: #484848;
	padding-bottom: 20px;
	font-size: 150%;
}

.about-bottom-links:hover {
	color: pink;
}

#padding-left-github-icon {
	padding-left: 20px;
}


