.about-label {
  font-size: 70%;
  font-weight: bold;
  color: #FFCC00;
}

.fa.fa-bolt {
  margin-left: 20px;
  font-weight: bold;
}

#show {
    font:18px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #FFCC00;
}

#show:hover {
   color: #FF6666;
}


#show1 {
    font:18px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #FFCC00;
}

#show1:hover {
   color: #FF6666;
}


/* Project description boxes */
.shadow_box {
  border: outset;
  border-width:2px;
  box-shadow: 10px 10px 5px #888888;
  margin-bottom: 20px;
}

/* content margins */
.content_box {
  margin: 5px 5px 5px 5px;
}

.black_header_background {
  background-color: black; 
  margin-bottom: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

/* Project title and link fonts */
.project_box_title {
  font-size: 200%;
  margin-left: 20px;
}

.project_box_title a{
  color: #6FC;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.project_box_title a:hover{
  color: #FF6666;
}

.project_box_title .fa-github {
  color:  #6FC;
  font-size: 30px;
  display: inline;
}

.project_box_title .fa-github:hover {
  color: #FF6666;
  font-size: 30px;
  display:inline;

}
.project_image:hover {
  opacity:0.4;sr IE8 and earlier */
}

