.my-name-homepage-heading {
  position: fixed;
  left: 0px;
  top: 0px;
  padding-left: 11px;
  max-width: 250px;
}

.navigation-text {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 120%;
}

.navigation-text a{
  color: #3300CC;/*#6699CC;*/
}

.my_name {
  color: #3300CC;
  font-size: 300%;
}

/*font-family: 'Press Start 2P', cursive;
font-family: 'Chango', cursive;*/

.box {
  float: left;
  left: 0px;
  top: 0px;
}

/* ICONS */
.icon_links {
  margin-left: 40px;
  margin-top: 240px;

}

.fa.fa-twitter{
  color: #3300CC;/*#6699CC;*/
  font-size: 26px;
}

.fa.fa-twitter:hover{
  color:#99FFFF;
  font-size: 26px;
}

.fa.fa-github#nav-page{
  color: #3300CC;/*#6699CC;*/
  font-size: 26px
}

.fa.fa-github#nav-page:hover{
  color:#99FFFF;
  font-size: 26px;
}

.fa.fa-linkedin{
  color: #3300CC;/*#6699CC;*/
  font-size: 26px
}

.fa.fa-linkedin:hover{
  color:#99FFFF;
  font-size: 26px;
}

.fa.fa-envelope-o#nav-page{
  color: #3300CC;/*#6699CC;*/
  font-size: 26px
}

.fa.fa-envelope-o#nav-page:hover{
  color:#99FFFF;
  font-size: 26px;
}